#Ignore files
*.pyc
*.log
*.class
*.png
db_connection*.json

#Ignore directory
target/
.idea/
.vscode/
results/
result/
Results/
__pycache__/
download/*
src/test/resources/robotframework/libraries/*.class